<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Флеш-сообщения -->
    <div id="error-messages" class="error-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="error-message {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="container">
        <div class="login-box">
            <h1>Вход</h1>
            <form method="POST" id="loginForm">
                {{ form.hidden_tag() }}
                <div class="input-group">
                    {{ form.username(placeholder="Логин") }}
                </div>
                <div class="input-group">
                    {{ form.password(placeholder="Пароль", type="password") }}
                </div>
                <div class="actions">
                    <a href="{{ url_for('auth.signup') }}">Регистрация</a>
                    {{ form.submit }}
                </div>
            </form>
        </div>
    </div>
</body>
</html>
