<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Шапка страницы</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <header>
        <div class="header-content">
            <a class="username" href="{{ url_for('auth.logout') }}">{{ username }}</a>

            <a href="/addcard" class="center-button">Добавить билет</a>
        </div>
    </header>
    <div class="bubble-container">
     <div class="bubble">
        <div class="greeting">MSW - LDN</div>
        <div class="divider"></div>
        <div class="small-text">Пороговая стоимость</div>
        <div class="large-text">3500 рублей</div>
        <div class="small-text">Дата отправления</div>
        <div class="large-text">10.03.2005</div>
        <div class="divider"></div>
        <button class="delete-btn">Удалить</button>
    </div>
</div>

</body>
</html>
