<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="login-box">
            <h1>Регистрация</h1>
            <form method="POST" id="registrationForm">
                {{ form.hidden_tag() }}
                <div class="input-group">
                    {{ form.login(placeholder="Логин") }}
                    {% for error in form.login.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="input-group">
                    {{ form.password(placeholder="Пароль", type="password") }}
                    {% for error in form.password.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="input-group">
                    {{ form.password_confirm(placeholder="Подтверждение пароля", type="password") }}
                    {% for error in form.password_confirm.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="actions">
                    <a href="{{ url_for('auth.login') }}">Вход</a>
                    {{ form.submit }}
                </div>
            </form>
        </div>
    </div>

    <div id="error-messages" class="error-messages"></div>

    <script>
        const errorMessagesDiv = document.getElementById('error-messages');

        {% for message in get_flashed_messages(with_categories=true) %}
            let messageType = "{{ message[0] }}";
            let messageText = "{{ message[1] }}";
            let messageDiv = document.createElement('div');
            messageDiv.className = "error-message " + messageType;
            messageDiv.textContent = messageText;
            errorMessagesDiv.appendChild(messageDiv);
        {% endfor %}
    </script>

    <style>
        .error-messages {
            position: fixed;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1000; /*  Важный стиль для отображения над другими элементами */
        }
        .error-message {
            padding: 10px 20px;
            margin-bottom: 5px;
            border-radius: 5px;
            color: white;
        }
        .error { background-color: red; }
        .success { background-color: green; }
    </style>
</body>
</html>