<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="login-box">
            <h1>Регистрация</h1>
            <form method="post">
                <div class="input-group">
                    <input name="login" id="login" placeholder="Login" required>
                </div>
                <div class="input-group">
                    <input type="password" name="password" id="password" placeholder="Password" required>
                </div>
                <div class="actions">
                    <a href="{{ url_for('main_pages.login') }}">Вход</a>
                    <button type="submit">Регистрация</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
