<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Шапка страницы</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <header>
        <div class="header-content">
            <!-- Поле с текстом "Привет" -->
            <div class="username">{{ username }}</div>

            <!-- Кнопка, которая ведет на другую страницу -->
            <a href="/addcard" class="center-button">Добавить билет</a>
        </div>
    </header>
</body>
</html>
