<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LycTech</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
    <div class="root">
        <div class="header">
            <a class="logo" href="/website/static"><img src="static/images/logo.jpg"></a>
            <a class="LS" href="{{ url_for('main_pages.logout') }}">Выход</a>
        </div>
        <div class="main">
            <p class="main-text">Вот ваши карточки</p>
            <p></p>
            <a href="{{ url_for('main_pages.add_card') }}">Подключиться</a>
        </div>
</body>
</html>